div{
padding-top:20px;
}
body{
height:200px;
text-align:center;
border:1px solid black;
}
a{
margin:10px;
border: 1px solid black;
color:black;
text-decoration:none;
border-radius:10px;
padding:5px;
}

a:hover{
background-color:gray;
}
